
body {
    position: relative;
    margin: auto;
    background-color: black;
    color:white;
    overflow-x: hidden;
}

button {
    border-style: solid;
    border-color: rgb(51, 44, 44);
}

button:hover {
    opacity: 0.6;
}

/*Layout*/
.layout {
    display: grid;
    grid-template: 
        'left right';
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    grid-area: left;
}

/*Color Buttons*/

#red {
    background-color: red;
    color:red;
}

#orange {
    background-color: orange;
    color:orange;
}

#blue {
    background-color: blue;
    color:blue;
}

#green {
    background-color: green;
    color:green;
}

#purple {
    background-color: purple;
    color: purple;
}

#hotpink {
    background-color: hotpink;
    color: hotpink;
}

#black {
    background-color: black;
    color: black;
}

#white {
    background-color: white;
    color: white;
}

#yellow {
    background-color: yellow;
    color:yellow;
}

#second-set {
    margin-top:6px;
}

#flex-color {
    display: flex;
    flex-direction: row;
}

/*Sketch Grid*/

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

#right h1 {
    display: flex;
    justify-content: center;
    
}

#container {
    box-shadow:  1px 1px 10px rgb(51, 44, 44);
    position:relative;
    grid-area: right;
    user-select: none;
    display: grid;
    width: 500px;
    height: 500px;
    grid-gap: 0;
    border: 5px solid rgb(51, 44, 44);
  }

.grid-item {
    background-color: white;
    border-style: solid;
    border-color: rgb(211, 210, 210);
    border-width: 1px;
    color: white;
}

@media (max-width:950px) {
    body {
        overflow: hidden;
    }

    .layout {
        display: grid;
        grid-template: 
            'right'
            'left';
        justify-items: center;
    }

    #container {
        position:relative;
        grid-area: right;
        user-select: none;
        display: grid;
        width: 300px;
        height: 300px;
        grid-gap: 0;
        border: 5px solid rgb(51, 44, 44);
    }

    #left {
        grid-area: left;
    }
}