
body {
    background-color: black;
    color:white;
    overflow-x: hidden;
}

/*Layout*/
.layout {
    display: grid;
    grid-template: 
        'left right';
}

#left {
    position:relative;
    justify-self: center;
    grid-area: left;
}

/*Color Buttons*/

#red {
    background-color: red;
    color:red;
}

#orange {
    background-color: orange;
    color:orange;
}

#blue {
    background-color: blue;
    color:blue;
}

#green {
    background-color: green;
    color:green;
}

#purple {
    background-color: purple;
    color: purple;
}

#hotpink {
    background-color: hotpink;
    color: hotpink;
}

#black {
    background-color: black;
    color: black;
}

#white {
    background-color: white;
    color: white;
}

#yellow {
    background-color: yellow;
    color:yellow;
}

#second-set {
    margin-top:6px;
}

/*Sketch Grid*/

#right h1 {
    position:relative;
    left:12%;
}

#container {
    position:relative;
    grid-area: right;
    user-select: none;
    display: grid;
    width: 500px;
    height: 500px;
    grid-gap: 0;
    border: 5px solid rgb(51, 44, 44);
  }

.grid-item {
    background-color: white;
    border-style: solid;
    border-color: burlywood;
    border-width: 1px;
    color: white;
}

@media (min-width:300px) and (max-width:750px) {
    body {
        overflow-y: auto;
    }

    .layout {
        display: grid;
        grid-template: 
            'right'
            'left';
        justify-items: center;
    }

    #container {
        position:relative;
        grid-area: right;
        user-select: none;
        display: grid;
        width: 300px;
        height: 300px;
        grid-gap: 0;
        border: 5px solid rgb(51, 44, 44);
      }
}